## Função Lambda

As funções lambda não são definidas, portanto, não recebem nome. São conhecidas por isso como funções anônimas. A vantagem das funções lambda são
uma menor utilização de memória, ja que são executadas "on the fly" e deixam o código mas limpo.

#### Utilizando 3 Linhas de Código

In [3]:
def quadrado(num):
    a = num**2
    return a

In [4]:
quadrado(5)

25

#### Utilizando 2 Linhas de código

In [5]:
def quadrado(num):
    return num**2

In [6]:
quadrado(5)

25

#### Utilizando 1 Linha de código

In [7]:
def quadrado(num): return num**2

In [8]:
quadrado(5)

25

### Lambda

In [9]:
lambda num: num**2

In [12]:
# Criando uma variavel para receber o valor da Lambda
quadrado = lambda num: num**2

In [13]:
quadrado(5)

25

In [14]:
# Retornando o último elemento
ultimo = lambda s: s[-1]

In [15]:
ultimo("UNIDADOS")

'S'

### Lambda Booleanas

In [17]:
# Número impar
impar = lambda x: x%2 > 0

In [23]:
impar(4)

False

In [21]:
# Número maior que 10
maior = lambda x: x > 10

In [22]:
maior(11)

True

### Listas

In [ ]:
lista = [2,3,4,5]

In [ ]:
dobro = lambda x: x * 2

In [ ]:
# Aqui temos que utilizar a função MAP, que veremos um pouco mais a frente
dobro(lista)

In [ ]:
soma = lambda x,y : x*y

In [ ]:
soma(10,10)

In [ ]:
# Ordenando inversamente
reverse = lambda s: s[::-1]

### List Comprehensions

É a forma com que fazemos filtros e mapeanentos dentro de uma lista. Assemelham-se ás funções filter() e map() que veremos mas á frente

In [1]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [2]:
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
type(lista)

list

In [4]:
dobro = lambda x: x * 2
dobro(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Imprimindo uma lista com o quadrado de todos os números de lista
lst = []

for i in lista:
    num = i ** 2
    lst.append(num)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Elevar ao quadrado para cada item da lista
[item ** 2 for item in lista]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Para cada item na lista, verificar se o item é par
[item for item in lista if item % 2 == 0]

[2, 4, 6, 8, 10]

In [10]:
# Elevar ao quadrado e para cada item da lista, verificar se é par
[item ** 2 for item in lista if item % 2 == 0]

[4, 16, 36, 64, 100]

In [11]:
# Convertendo para float cada item da lista e imprima os maiores ou iguais a 3
lista = ['1','2','3','4','5','6']

[float(item) for item in lista if item >= '3']

[3.0, 4.0, 5.0, 6.0]

### Utilizando a função MAP

A função map() tem o objetivo de mapear valores, de forma a realizar transformações mais rapidamente sem a necessidade de iterações. Essa caracteristica é muito utilizada e útil no processamento de Big Data, mais precisamente com os frameworks Hadoop Map Reduce e Spark.

In [1]:
# Definindo uma lista de valores
lista = [2,4,6,8,10]

In [2]:
# Imprimindo a lista
lista

[2, 4, 6, 8, 10]

In [3]:
# Função simples, para somar mais 10 em cada número
def soma_dez(num):
    return num + 10

In [4]:
# Para aplicar a função definida acima, necessitamos criar um loop for para percorrer toda a lista
for elemento in lista:
    print(soma_dez(elemento))

12
14
16
18
20

In [5]:
# Com a função map() esse processo é facilitado, e a função é MAPEADA sendo aplicada a cada elemento da lista, como um mapeamento - ELEMENTO - VALOR
lista_map = map(soma_dez, lista)

In [6]:
# A Função map() sempre retorna um objeto iterável.
print(lista_map)

<map object at 0x0000004A6FB52BB0>

In [7]:
# O Objeto iterável pode ser convertido em lista, e assim podemos visualizar o seu conteúdo
print(list(lista_map))

[12, 14, 16, 18, 20]

### Outras Aplicações

In [8]:
# Poderíamos por exemplo, criar um range de dados
numeros = range(10)

for n in numeros:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [9]:
# Para realizar um cast nos números, eu necessito outro FOR

for n in numeros:
    m = float(n)
    print(m)

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0

In [ ]:
# Podemos encurtar esses passos
# Estou aplicando a função float em cada elemento da range